*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    /* margin :30px 0px; */
    height: 150px;
    background-color:#183444;
    color: white;
    font-family: Roboto,Arial,sans-serif;
}

.header p{
    margin:5px;
}

.nav-bar a{
    text-decoration: none;
    margin: 10px 12px;
    color:black;
    height:30px;
    font-size: 18px;
    padding:5px;
    /* border:2px solid black; */

}

a:hover{
    /* background-color:rgb(22, 209, 166); */
    background-color:white;
    border-radius: 5px;
    color:gray;
}

.main{
    background-color:#e1eff0

} 

.main h2{
    display:flex;
    /* border:2px solid black; */
    justify-content: center;
    font-size: 48px;
    color:#2596be;
    padding-top:20px;
}

.tech-videos{
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
}

.tech-videos h3{
    display:flex;
    justify-content: center;
    color:white;
    font-size:25px;
    padding:5px 0px;
    background-color:#52ab98;
}

.box{
    border: 3px solid black;
    justify-content:center;
    margin:20px 50px;
    padding:0px;
}