
body{
    /* background-color:rgb(167, 238, 167) !important; */
    /* background-color:#012c3f !important; */
    background-color:#003f5c !important;
}

.tittle{
    width:5rem;
    background-color:#012c3f !important;
    border-radius: 3rem;
}
.calculator{
    /* height: 75vh !important; */
    width:30vw;
    margin: 0px 15rem;
}

.display{
    height:15vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.keys{
    height:63vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button{
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    height:10vh !important;
    width: 7vw;
    border-radius:10rem !important;
    font-size:1.5rem !important;
    box-shadow: 3px 6px 5px lightblue;
}

.footer{
    height: 40vh;
    width:10rem;
    /* background-color:rgb(25,33,54) */
    background-color:#012c3f;
    margin: 6rem 0rem;
    border-radius: 5rem !important;
}

@media only screen and (max-width: 899px){
    .calculator{
        width:32vw;
    }
}

@media only screen and (max-width: 449px){
    .calculator{
        width:39vw
    }
}